<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPlayerManagement">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:8090/PlayerManagementService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerManagement"
                contract="SRIPlayerManagement.IPlayerManagement" name="NetTcpBinding_IPlayerManagement" />
        </client>
    </system.serviceModel>
</configuration>