<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hangman_dbEntities" connectionString="metadata=res://*/Modelhangman.csdl|res://*/Modelhangman.ssdl|res://*/Modelhangman.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Danims\SQLEXPRESS01;initial catalog=hangman_db;persist security info=True;user id=game_user;password=Ae%193;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>